<h1>File Details</h1>
<p>Name: <%= file.name %></p>
<p>Type: <%= file.contentType %></p>
<p>Size: <%= file.size %> bytes</p>
<a href="/dashboard/files/<%= file.id %>/download">
	<button id="download-btn">Download</button>
</a>
<br /><br />
<form
	action="/dashboard/files/<%= file.id %>?_method=DELETE"
	method="POST"
	onsubmit="return confirm('Delete this file?');"
>
	<button class="delete-btn" type="submit">Delete File</button>
</form>
<br />

<%- include('./partials/home.ejs') %>
