<h1 id="folder-name"><%= folder.name %></h1>
<a href="/dashboard/folders/<%=folder.id%>/upload" class="action-btn"
	>Upload File</a
>
<a href="/dashboard/folders/<%=folder.id%>/new-folder" class="action-btn"
	>New Folder</a
>
<a id="edit-btn" class="action-btn">Edit Name</a>
<form
	id="edit-form"
	action="/dashboard/folders/<%= folder.id %>/edit?_method=PUT"
	method="POST"
	style="display: none"
>
	<h1><input type="text" name="name" value="<%= folder.name %>" required /></h1>
	<button type="submit">Save</button>
	<button type="button" id="cancel-btn">Cancel</button>
</form>
<br /><br />
<% folderChildren.forEach( folderChild => {%>
<div class="folder">
	<a href="/dashboard/folders/<%= folderChild.id %>">
		<%= folderChild.name%>
	</a>
</div>
<br />
<% }) %> <% fileChildren.forEach( fileChild => {%>
<div class="file">
	<a href="/dashboard/folders/<%= fileChild.id %>/details">
		<%= fileChild.name%>
	</a>
</div>
<br />
<% }) %>
<br />
<form
	class="delete-form"
	action="/dashboard/folders/<%= folder.id %>?_method=DELETE"
	method="POST"
	onsubmit="return confirm('Delete this folder and all its contents?');"
>
	<button class="delete-btn" type="submit">Delete Folder</button>
</form>
<br /><br />
<script>
	const editBtn = document.getElementById('edit-btn');
	const editForm = document.getElementById('edit-form');
	const folderName = document.getElementById('folder-name');
	const cancelBtn = document.getElementById('cancel-btn');

	editBtn.addEventListener('click', () => {
		folderName.style.display = 'none';
		editBtn.style.display = 'none';
		editForm.style.display = 'block';

		const input = editForm.querySelector('input');
		input.focus();
		input.setSelectionRange(input.value.length, input.value.length);
	});

	cancelBtn.addEventListener('click', () => {
		folderName.style.display = 'block';
		editBtn.style.display = 'inline-block';
		editForm.style.display = 'none';
	});
</script>

<%- include('./partials/home.ejs') %>
